# sepolicy/private/a9_eink_daemon.te

type a9_eink_daemon, domain;
type a9_eink_daemon_exec, exec_type, file_type, system_file_type;

# Domain transition when executing the binary
init_daemon_domain(a9_eink_daemon)

# Allow a9_eink_daemon to use standard system services
allow a9_eink_daemon self:capability { sys_admin net_admin };
allow a9_eink_daemon self:netlink_route_socket { create bind write read nlmsg_read };

# Allow access to sysfs for hardware interaction
allow a9_eink_daemon sysfs:file rw_file_perms;
allow a9_eink_daemon sysfs_devices_system_cpu:file rw_file_perms;

# Allow interaction with system properties
set_prop(a9_eink_daemon, system_prop)