# a9_eink_daemon/etc/init/a9_eink_daemon.rc

service a9_eink_server /system/bin/a9_eink_server
    class main
    user root
    group root system
    capabilities SYS_ADMIN
    seclabel u:r:a9_eink_daemon:s0
    disabled

on property:sys.boot_completed=1
    start a9_eink_server